name: Build wheels

# yamllint disable-line rule:truthy
on:
  workflow_dispatch:
  schedule:
    - cron: "0 4 * * *"
  push:
    branches:
      - dev
      - rc
    paths:
      - ".github/workflows/wheels.yml"
      - "homeassistant/package_constraints.txt"
      - "requirements_all.txt"
      - "requirements.txt"
      - "script/gen_requirements_all.py"

env:
  DEFAULT_PYTHON: "3.13"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name}}
  cancel-in-progress: true

jobs:
  core:
    name: Build Core wheels ${{ matrix.abi }} for ${{ matrix.arch }} (musllinux_1_2)
    if: github.repository_owner == 'home-assistant'
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix: &matrix-build
        abi: ["cp313", "cp314"]
        arch: ["amd64", "aarch64"]
        include:
          - arch: amd64
            os: ubuntu-latest
          - arch: aarch64
            os: ubuntu-24.04-arm
    steps:
      - name: Checkout the repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Build wheels
        uses: &home-assistant-wheels home-assistant/wheels@6066c17a2a4aafcf7bdfeae01717f63adfcdba98 # 2025.11.0
        with:
          abi: ${{ matrix.abi }}
          tag: musllinux_1_2
          arch: ${{ matrix.arch }}
          wheels-key: ${{ secrets.WHEELS_KEY }}
          apk: "mariadb-dev;postgresql-dev;libffi-dev"
          requirements: "requirements.txt"
